@model IEnumerable<Order>

@* Trang này xuất hiện trong Trang Tài Khoản nên có liên kết điều hướng trong "/Areas/Identity/Pages/Account/Manage/ManageNav" *@

@{
}

<div>
</div>
<div class="container mt-4">
    <a href="/Identity/Account/Manage" class="btn btn-dark my-2">Quay lại</a>

    <h4 class="mt-4">Đơn hàng của tôi</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">Ngày đặt hàng</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                        <td>@order.OrderStatus.StatusName</td>
                        <td> @(order.OrderDetail.Select(b => b.Item.Price * b.Quantity).Sum()) VNĐ</td>
                        <td> <a class="btn btn-dark rounded-pill my-2" asp-action="GetDetail" asp-route-orderId="@order.Id">Chi tiết</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5>Không có đơn hàng nào</h5>
    }
</div>
